.bootstrap-tagsinput {
    min-width: 300px;
    white-space: nowrap;
}

.bootstrap-tagsinput input {
    height: 100%;

}

.bootstrap-tagsinput .label-info {
    border-radius: 5px;
    background-color: #F8F9FA;
    color: black;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px 5px 20px;
}
