body {
    -webkit-font-smoothing：antialiased;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
    padding-top: 70px;
    background-color: rgb(246, 246, 246); 
}
@media (min-width: 1200px) {
    .container{
        max-width: 75%;
    }
}
/* logo */
.brand {
    /* color: rgb(235, 99, 9); */
    font-size: 1.2em;
   
}
.navicon{
    font-size: 1em;
}
